.menu {
    background-color: brown;
    border-radius: 3px;
    align-items: center;
}

.web-name {
    color: rgb(49, 12, 216);
    text-align: center;
}

body {
    background-color: crimson;
}

.buttons {}
